.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 100%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  /* }
} */ */

.App-header {
   background-color: #213b71; 
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navBar{
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  border: 5px solid black;
  overflow: auto;
  background-color: white;
  color: black;
}
.list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 600px;
 
}
.link{
  color: black;
  font-size: small;
  font-weight: bold;
 
}
.app-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.space{
  height: 100px;
}
.tile {
  display: flex;
 
  align-items: center;
  min-width: fit-content;
   margin-left: 4px; 
   margin-right: 4px;
}¨
.tile-marker {
  font-size: 2.5rem; /* Equivalent to text-4xl in Tailwind */
}
.wrapper > div{
background-color: #eee;
}
.wrapper > div:nth-child(odd){
  background-color: #ddd;
}
